<div class="container">
  
    <div class="row">
      
      <div class="col-sm-8 offset col-sm-offset-2">
        <h1 id="date_num"><%=Date.today.day%></h1>
        <h3>Your touchPOINTS for the week of <%= Time.now.beginning_of_week.strftime("%B %e") %> - <%= Time.now.end_of_week.strftime("%e, %Y")%></h3>
      </div>

    </div>
      
    <div class="row">
      
      <div class="table-responsive col-sm-8 col-sm-offset-2">
        <table class="table table-striped">
          <tr><th>Due Date</th><th>Contact</th><th>Description</th></tr>
          <% @touches.each do |touch| %>
            <tr>
              <td><%= touch.due_date.strftime("%B %e") %></td>
              <td><%= link_to touch.contact.full_name, contact_path(touch.contact_id) %></td>
              <td><%= touch.description %></td>
            </tr>
          <% end %>
        </table>
      </div>

    </div>

</div>






  <table>
    <tr><th>Name</th><th>Contact ID</th><th>User ID</th><th>Due Date</th><th>Repeats</th><th>Complete?</th><th>Touch ID</th><th>Edit</th><th>Delete</th></tr>
  <% @touches.each do |touch| %>
      <tr>
        <td><strong><%= touch.contact.full_name %></strong> <%= link_to "view contact", contact_path(touch.contact_id) %></td>
        <td><%= touch.description %></td>
        <td><%= touch.contact_id %></td>
        <td><%= touch.user_id %></td>
        <td><%= touch.due_date.strftime("%B %e, %Y") %></td>
        <td><%= touch.recurrence if touch.recurrence %></td>
        <td><%= touch.is_complete %></td>
        <td><%= touch.id %></td>
        <td><%= link_to "Edit this touchPOINT", edit_user_touch_path(current_user.id, touch.id) %></td>
        <td><%= link_to "Delete this touchPOINT", user_touch_path(current_user.id, touch.id), method: :delete, data: {confirm: "Are you sure you want to delete this touchPOINT?"} %></td>
      </tr>
    
  <% end %>
  </table>

  <%= link_to "Add a new touchPOINT", new_user_touch_path(current_user.id) %>
  <%= link_to "Add a new contact", new_contact_path %>

</div>
