<div ng-controller="dashboardCtrl">
  <h1>Your touchPOINTS for the week of <%= Time.now.beginning_of_week.strftime("%B%e") %> - <%= Time.now.end_of_week.strftime("%e, %Y") %></h1>

  <% @touches.each do |touch| %>
    
        <strong><%= touch.contact.full_name %></strong> <%= link_to "view contact", contact_path(touch.contact_id) %><br>
        <%= touch.description %><br>
        Contact ID: <%= touch.contact_id %><br>
        User ID: <%= touch.user_id %><br>
        Type: <%= touch.kind %><br>
        Due Date: <%= touch.due_date.strftime("%B %e, %Y") %><br>
        Repeats: <%= touch.recurrence if touch.recurrence %><br>
        Complete? <%= touch.is_complete %><br>
        Touch ID: <%= touch.id %><br>
        <%= link_to "Edit this touchPOINT", edit_user_touch_path(current_user.id, touch.id) %>
        <%= link_to "Delete this touchPOINT", user_touch_path(current_user.id, touch.id), method: :delete, data: {confirm: "Are you sure you want to delete this touchPOINT?"} %>
        <br><br>
    
  <% end %>

  <%= link_to "Add a new touchPOINT", new_user_touch_path(current_user.id) %>
  <%= link_to "Add a new contact", new_contact_path %>