<div class="container">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-2 date_header">
      <h1 class="lighter_font" id="date_num"><%=Time.now.day%></h1>
      <h3 class="lighter_font"id="current_date"><%= Time.now.strftime("%b %e, %Y") %></h3>
    </div>
    <div class="col-lg-5 week_of">
      <h1 class="lighter_font">Your <span class="text-primary">touchPOINTS</span> for the week of <%= Time.now.beginning_of_week.strftime("%B %e") %> - <%= Time.now.end_of_week.strftime("%e, %Y")%></h1>
    </div>

  </div>
      
    <div class="row">
      
      <div class="table-responsive col-lg-8 col-lg-offset-2 main_content">
        
        <!-- Beginning of Nav tabs -->
        <ul class="nav nav-tabs lighter_font" role="tablist">
          <li class="active"><a href="#dashboard" role="tab" data-toggle="tab">DASHBOARD</a></li>
          <li><a href="#contacts" role="tab" data-toggle="tab">CONTACTS</a></li>
          <li><a href="#add_touch" role="tab" data-toggle="tab">NEW touchPOINT</a></li>
          <li><a href="#add_contact" role="tab" data-toggle="tab">NEW CONTACT</a></li>
        </ul>
        <!-- End of nav tabs -->

        <!-- Beginning of Tab panes -->
        <div class="tab-content">
          
          <!-- Beginning of Dashboard -->
          <div class="tab-pane active dashboard" id="dashboard">
            <table class="table table-hover">
              <tr><th><i class="glyphicon glyphicon-ok" id="checkmark"></i></th><th>Due Date</th><th>Contact</th><th>Description</th></tr>
                <% @touches.each do |touch| %>

                  <% if touch.due_date < Date.today %>

                    <tr class="table_row text-danger" data-toggle="modal" data-target="#<%=touch.id%>">
                      <td class="complete-col"><a data-method="patch" href="/touches/<%=touch.id%>" rel="nofollow"><button type="button" class="btn btn-default btn-circle"></button></a></td>
                      <td><%= touch.due_date.strftime("%B %e") %></td>
                      <td><%= touch.contact.full_name %></td>
                      <td><%= touch.description %></td>
                    </tr> 

                  <% else %>

                    <tr class="table_row" data-toggle="modal" data-target="#<%=touch.id%>" >
                      <td class="complete-col"><a data-method="patch" href="/touches/<%=touch.id%>" rel="nofollow"><button type="button" class="btn btn-default btn-circle"></button></a></td>
                      <td><%= touch.due_date.strftime("%B %e") %></td>
                      <td><%= touch.contact.full_name %></td>
                      <td><%= touch.description %></td>
                    </tr>

                  <% end %>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="<%=touch.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header bg-primary">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title text-center lighter_font" id="myModalLabel">Edit this touchPOINT for <%= touch.contact.full_name %></h4>
                        </div>
                        <div class="modal-body">
                          <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                              <%= form_for [@user, touch], html: { class: 'form' } do |f| %>
                              <form class="form" role="form">
                                <div class="form-group">
                                  <%= f.label "Description" %>    
                                  <%= f.text_field :description, placeholder: "description", class: 'form-control' %>
                                </div>
                                <div class="form-group">
                                  <%= f.label "Due Date" %>
                                  <%= f.date_field :due_date, placeholder: "due date", class: 'form-control' %>
                                </div>
                                <div class="form-group">
                                  <%= f.label "Repeats?" %>
                                  <%= f.select :recurrence, ["Never", "Every Day", "Every Week", "Every 2 Weeks", "Every Month", "Every Year"], class: 'form-control' %>
                                </div>
                                <div class="form-group">
                                  <%= f.label "Notes" %>
                                  <%= f.text_field :notes, placeholder: "notes", class: 'form-control' %>
                                </div>
                                <div class="checkbox">
                                  <%= f.label :is_complete, class: 'input-group' do %>
                                    <%= f.check_box :is_complete %>
                                    Done?
                                  <% end %>
                                </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <a data-method="delete" href="/users/<%= @user.id %>/touches/<%= touch.id %>" rel="nofollow"><button type="button" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></button></a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <%= f.submit "Update", class: 'btn btn-primary btn-large' %>
                            </form>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end of modal -->

              <% end %>
            </table>
          </div>
          <!-- End of Dashboard -->

          <!-- Beginning of Contacts -->
          <div class="tab-pane active contacts" id="contacts">
            <div class="row">  
              <% @contacts.each do |contact| %>
                <div class="col-sm-4 contact_box">
                  <div class="contact_info"><strong><%= contact.full_name %></strong><br>
                  <%= contact.email %></div>
                </div>
              <% end %>
            </div>
          </div>
          <!-- End of Contacts -->

          <!-- Beginning of Add Touchpoint Form -->
          <div class="tab-pane col-sm-6 col-sm-offset-2 form_styles" id="add_touch">
            <%= form_for [@user, @touch], html: { class: 'form' } do |f| %>
              <form class="form" role="form">
                <div class="form-group">
                  <%= f.collection_select :contact, @contacts, :id, :lname_fname, prompt: "Select a contact", class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :description, placeholder: "description", class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.label "Due Date" %>
                  <%= f.date_field :due_date, placeholder: "due date", class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.select :recurrence, ["Never", "Every Day", "Every Week", "Every 2 Weeks", "Every Month", "Every Year"], prompt: "Repeats?", class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :notes, placeholder: "notes", class: 'form-control' %>
                </div>
                <%= f.submit "add touchPOINT", class: 'btn btn-primary' %>
              </form>
            <% end %>
          </div>
          <!-- End of Add Touchpoint Form -->

          <!-- Beginning of Add Contact Form -->
          <div class="tab-pane col-sm-6 col-sm-offset-2 form_styles" id="add_contact">
            <%= form_for [@contact], html: { class: 'form' } do |f| %>
              <form class="form" role="form">
                <div class="form-group">
                  <%= f.text_field :fname, placeholder: "first name", class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :lname, placeholder: "last name", class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :spouse, placeholder: "spouse", class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :email, placeholder: "email", class: 'form-control', type: 'email' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :home_phone, placeholder: "home phone", class: 'form-control', type: 'tel' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :mobile_phone, placeholder: "mobile phone", class: 'form-control', type: 'tel' %>
                </div>
                <%= f.submit "add contact", class: 'btn btn-primary' %>
              </form>
            <% end %>
          </div>
          <!-- End of Add Contact Form -->
        </div>
        <!-- End of tab panes -->

      </div>
    </div>
  </div>
</div>

      