<!-- Modal -->
<div class="modal fade" id="add_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title text-center lighter_font" id="myModalLabel">Add a contact to your portfolio</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <%= form_for [@contact], html: { class: 'form' } do |f| %>
              <% if @contact.errors.any? %>
                <div id="error_explanation">
                  
                  <ul class="list-group">
                    <% @contact.errors.full_messages.each do |msg| %>
                      <li class="list-group-item list-group-item-danger"><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

                <div class="form-group">
                  <%= f.text_field :fname, placeholder: "first name (required)", class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :lname, placeholder: "last name (required)", class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :spouse, placeholder: "spouse", class: 'form-control' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :email, placeholder: "email", class: 'form-control', type: 'email' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :home_phone, placeholder: "home phone", class: 'form-control', type: 'tel' %>
                </div>
                <div class="form-group">
                  <%= f.text_field :mobile_phone, placeholder: "mobile phone", class: 'form-control', type: 'tel' %>
                </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <%= f.submit "Create", class: 'btn btn-primary btn-large' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- end of modal -->