<h1><%= @contact.fname %> <%= @contact.lname %></h1>
<p>Spouse: <%= @contact.spouse %></p>
<p>Email: <%= @contact.email %></p>
<p>Twitter Handle: <%= @contact.twitter %></p>
<p>Giving Level: <%= @contact.giving_level %></p>
<%= link_to "Delete this contact", :contact, method: :delete %>
