<h1>Edit this touchpoint for <%= @touch.contact.full_name %></h1>

<%= form_for [@user, @touch] do |f| %>
  <%= f.select :kind, options_for_select(["Anniversary", "Birthday", "Solicitation", "Other"]), prompt: "Kind" %>
  <%= f.text_field :description, placeholder: "description" %>
  <%= f.date_field :due_date, placeholder: "due date" %>
  <%= f.select :recurrence, options_for_select(["Never", "Every Day", "Every Week", "Every 2 Weeks", "Every Month", "Every Year"]), prompt: "Repeats?" %>
  <%= f.text_field :notes, placeholder: "notes" %>
  <%= f.select :complete?, options_for_select([false, true]), prompt: "Complete?" %>
  <%= f.submit "Submit!" %>
<% end %>