<h1>Create a new touchpoint for <%= @contact.fname %> <%= @contact.lname %>!</h1>

<%= form_for [@contact, @touch] do |f| %>
  <%= f.text_field :type, placeholder: "touchpoint type" %>
  <%= f.date_field :due_date, placeholder: "due date" %>
  <%= f.submit "Submit!" %>
<% end %>
